@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 3000px;
    @apply mx-auto px-3;
}
.container-full{
    max-width: 2000px;
    @apply mx-auto;
}
.lead{
    @apply text-xl xl:text-2xl font-light dark:text-gray-400 leading-7;
}
.header-1{
    @apply uppercase text-6xl font-bold text-center;
}
.header-2{
    @apply uppercase text-3xl font-semibold
}
.fluid{
    @apply max-h-full max-w-full object-scale-down
}

/* link style */
.link{
    margin-left: -1rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    font-size: 1.2rem;
    @apply text-primary-500 font-semibold p-4 relative mt-4
}
.link:before, .link:after{
    content: '';
    border-radius: .3em;
    bottom: .3em;
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @apply absolute border-b-4 border-solid border-primary-500
}
.link:before{
    transform-origin: left;
    width: 1em;
}
.link:hover:before{
    transform: scaleX(0.3);
}
.link:after{
    width: 82%;
    left: 1.7em;
    transform: translateX(110%);
}
.link:hover:after{
    transform: translateX(0);
}